.title-bar{"data-hide-for" => "medium", "data-responsive-toggle" => "main-menu"}
  %button.menu-icon{"data-toggle" => "", :type => "button"}
  .title-bar-title Menu
#main-menu.top-bar
  .top-bar-left
    %ul.dropdown.menu{"data-dropdown-menu" => ""}
      %li.menu-text Mikael Feher
  .top-bar-right
    %ul.menu{"data-responsive-menu" => "drilldown medium-dropdown"}
      %li.has-submenu
        %a{:href => "#"} Projects
        %ul.submenu.menu.vertical{"data-submenu" => ""}
          %li
            %a{:href => "https://mikaelfeher.github.io/fizz_buzz_js/"} FizzBuzz
          %li
            %a{:href => "https://mikaelfeher.github.io/bmi_calculator/"} BMI-Calculator
          %li
            %a{:href => "https://mikaelfeher.github.io/"} My First Website
      %li
        %a{:href => "#"} About Me
      %li
        %a{:href => "#"} Contact
