.title-bar{"data-hide-for" => "medium", "data-responsive-toggle" => "main-menu"}
  %button.menu-icon{"data-toggle" => "", :type => "button"}
  .title-bar-title Menu
#main-menu.top-bar
  .top-bar-left
    %ul.dropdown.menu{"data-dropdown-menu" => ""}
      %li.menu-text Mikael Feher
  .top-bar-right
    %ul.menu{"data-responsive-menu" => "drilldown medium-dropdown"}
      %li
        %a{href: 'project'} Projects
        -# %ul.submenu.menu.vertical{"data-submenu" => ""}
        -#   - data.projects.each do |project|
        -#     %li
        -#       = link_to project[:name], project[:url], target: '_blank'
      %li
        %a{href: 'about'} About Me
        %li.has-submenu
          %a{:href => "#"} Contact
          %ul.submenu.menu.vertical{"data-submenu" => ""}
            - data.contact.each do |contact|
              %li
                = link_to contact[:url], target: '_blank' do
                  %i{class: get_icon(contact[:name])}
                  = contact[:name]
%li.has-submenu
