.about_me
  %h1 About me
  %p I am 39 years old and have made career change into software development. My first step into the IT-field was actually informationsecurity, which wasn't really for me. During the security course I started messing around in Python and found that I really enjoyed programming, so I decided to go for it. And here I am... Enjoying every second!
