.about_me
  .row
    .small-12.medium-6.medium-offset-3.large-8.large-offset-2.columns
      %h1 About me
      %p After working as both a security guard and a traindriver I decided to finally fulfill my dream of working in software development. I applied for a bootcamp provided by Craft Academy. 12 weeks of a high-paced, information overloaded, emotionally draining rollercoaster at the end of which I will be reborn and remolded as a webdeveloper.
      #skills
        %p Armed with skills like:
        %ul
          %li Ruby, Ruby on Rails
          %li JavaScript, AngularJS, Ionic
          %li HTML
          %li CSS
          %li Agile development methods
          %li Test Driven Development
          %li Behavior Driven Development
        %p I will be ready to take on any challenge as a junior webdeveloper
      -# %p I am 39 years old and I have made career change into software development. My first step into the IT-field was actually informationsecurity, which wasn't really for me. During the security course I started messing around in Python and found that I really enjoyed programming, so I decided to go for it. And here I am... Enjoying every second!
