.intro
  %h1 Hello World


  

  -# - data.projects.each do |project|
  -#   %h4
  -#     = project[:name]
  -#   %p
  -#     = project[:description]


  -# %a{href: '/projects'} Projects
  -# = link_to 'Project', /projects,
